.second {
    height: 100rem;
}

.second-page1 {
    background-color: white;
    margin-top: 2rem;
    height: 35rem;
}

.PageTitle-01 {
    font-size: 2rem;
    font-weight: 500;
    margin: 1rem 1rem;
    color: black;
}

.sepgs {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    margin: 2rem 2rem;
}

.sepgImg img{
    height: 400px;
    width: 650px;
    border-radius: 0.5rem;
}

.sepgContent {
    font-size: 20px;
    font-weight: 400;
}

.sepgContent p {
    color: black;
}

.pageBtn {
    margin: 2rem 0;
    padding: 0.5rem 3rem;
    border: none;
    border-radius: 2rem;
    background: rgb(3, 3, 95);
    font-size: 1.5rem;
}

.second-page2 {
    background: url('/image6.jpg') no-repeat;
    background-size: cover;
    height: 85vh;
} 

.PageTitle-02 {
    font-size: 2rem;
    font-weight: 500;
    margin: 1rem; 
}

.sepgs-01 {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-top: 2rem;
}

.btn .hover{
    margin: 2rem 0;
    padding: 0.5rem 2rem;
    border: 1rem;
    border-radius: 2rem;
    background: black;
    color: white;
    gap: 20px;
}

























/* .bg img {
    width: 1500px;
    height: 400px;
    opacity: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
} */


/* .sepgs-01 img {
    margin: 2rem 1.2rem;
    height: 250px;
    width: 315px;
    border-radius: 1rem;
} */

/* .projectContent {
    gap: 20px;
    margin: 0.8rem;
    padding: 1.5rem 2rem;
    border-radius: 0.5rem;
    background: rgb(0, 0, 0);
    font-size: 1rem;
    font-weight: 500;
    width: 20%;
    text-align: left;
    margin-left: 0%;
    margin-right: 0%; 
}   */

